
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt
node_modules
coverage.lcov
coverage/
.env
tmp
indexer/mocks/*.txt
contracts/_deprecated
indexer/prisma/generated
dep-tests/
.DS_Store
dist/
.turbo
fly.toml
# local .env* files
.env.local
.env.*.local
