
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
contracts/.cache/**
history.txt
node_modules
coverage.lcov
coverage/
.env
tmp
api/mocks/*.txt
contracts/contracts/_deprecated
api/prisma/generated
dep-tests/
.DS_Store
dist/
.turbo
fly.toml
# local .env* files
.env.local
.env.*.local
api/docs